body {
   margin: 0;
   padding: 0;
   font-family: 'Courier New', Courier, monospace;
   font-size: 16px;
   color: #fff;
   background-color: #333;

}

@mixin layout($var){
     @if $var == 'full' {
        width: 100%;
     }@else {
         margin: 0 auto;
         width: $var;
     }
}

@mixin rect($w , $h:$w){
    width: $w;
    height: $h;
}

.wrapper {
     @include layout(full);
     section {
         @include rect(100vw, 100vh);  
     }
}

section:nth-child(even) {

   background-color: rgb(148, 148, 148);

}

.box {
  @include rect(80px);
  background-color: #9dfa07;
  border-radius: 5px;
  position: relative;
  top: 5px;
  left: 5px;
  margin-top:5px;
  color: #333;
}

.active {
  background-color: rgb(0, 255, 242); 


}