// @import "../node_modules/bootstrap/scss/bootstrap";

// var
@import 'base/var';



// mixin
@import 'mixin/mixin';


// layout 
@import 'layout/header';

// page 

@import 'page/index';
@import 'page/about';





body {
    font-size: $fontsize_basic;
    color: $font_color;
    font-family: $fontFamily;
    background-color: $bgc;
    margin: $null;
    padding: $padding;
}

.btn {
    color: map-get($btn_color, "error"); // map-get取值
}

$x :20;
$y : 30;

.list {
    width: 10em + 10;
    height: 10px - 1px;
    margin: 10 * 10;
    font: round($x / $y); // floor ceil round //    注意除法

}


$bg_color : blue;

.go {
    @if $bg_color==red {
        background-color: rgb(255, 80, 36);
    }

    @else {
        background-color: #fff;
    }
}







.box {
    // 呼叫
    @include rect();
    @include center(17px, 30px, #333);
}

.box1 {
    @include rect();
}




@include body();
@include layout('.wrapper', 1366px);
@include layout('.index', 1200px);
@include layout('.about', full);

@mixin rects($w, $h:$w) {
    width: $w;
    height: $h;
    @content;
}

.box {
    @include rects(100px, 500px) {
        color: rgb(255, 80, 36);
        background-color: #fff;
    }

    ;
}

.log {
    width: 100px;

    @media screen and (max-width: 576px) {
        width: 200px;
    }

}

.log {
    width: 100px;
}



// respond
@mixin m() {
    @media screen and (max-width: $m) {
        @content;
    }
}

@mixin t() {
    @media screen and (max-width: $t) {
        @content;
    }
}
// 使用
@include t(){
   body {
      font-size: 20px;
   }
}

@include m(){
   body {
      font-size: 20px;
   }
}


