$fontsize: 26px;
// 變數宣告 

$fontsize_basic : 18px;
$font_color: #ffffff;
$bgc : rgb(103, 27, 255);
$null : null; // 空值
$padding: 10px 10px 20px; //list
$fontFamily : "Times New Roman', Times, serif";
$btn_color :("error" :#f60b0b,
    "yellow" : #fcd810,
    "green" : #6bf80d); //map


 //斷點

 $m : 720px;
 $t :  996px;   